# Environnements virtuels
venv/
.venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Données volumineuses (optionnel : décommente si tu ne veux pas versionner les données)
# data/raw/
# data/interim/

# OS / éditeurs
.DS_Store
.vscode/
.idea/
